# ignore eslint cache files
.cache/.cache_*
.cache/.eslintcache

# ignore stylelint cache files
.cache/.stylelintcache*

# jsdoc output
docs/

# Editor directories and files
.idea
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln